@page "/"

<PageTitle>Fishin' Weber</PageTitle>

<div class="main-list-container">
    <div class="left-column">
        <div class="top-left-box">
            <div class="overlay">
                <p class="left-column-label">1. Pineview Reservoir</p>
            </div>
        </div>
        <div class="bottom-left-box">
            <div class="overlay">
                <p class="left-column-label">4. Glassman Pond</p>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="top-right-box">
            <div class="overlay">
                <p class="right-column-label">2. Weber River</p>
            </div>
        </div>
        <div class="middle-right-box">
            <div class="overlay">
                <p class="right-column-label">3. Ogden River</p>
            </div>
        </div>
        <div class="bottom-right-box">
            <div class="overlay">
                <p class="right-column-label">5. Beus Pond</p>
            </div>
        </div>
    </div>
</div>

@code {
    
}