.main-list-container {
    width: 100%;
    height: 800px;
    display: flex;
}

.left-column {
    width: 50%;
    height: 100%
}

.top-left-box {
    height: 50%;
    background-image: url('/pineview-block.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-left-box {
    height: 50%;
    background-image: url('/glassman-pond.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.right-column {
    width: 50%;
    height: 100%
}

.top-right-box {
    height: 33.33%;
    background-image: url('/weber-river.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-right-box {
    height: 33.33%;
    background-image: url('/ogden-river.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-right-box {
    height: 33.33%;
    background-image: url('/beus-pond.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}