.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background: cadetblue;
}

@media (min-width: 641px) {
    .sidebar {
        height: 24vh;
        position: sticky;
        background: cadetblue;
    }
}

.page-title {
    text-align: -webkit-center;
    margin: 5%;
}

.page-title-label {
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    font-family: SingleFlashing;
}