.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background: url('/pineview-header.png');
}

@media (min-width: 641px) {
    .sidebar {
        height: 30vh;
        position: sticky;
        top: 0;
        background: url('/pineview-header.png');
    }
}