@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <div class="page-title">
            <p class="page-title-label">Top 5 Fishing Spots in Weber</p>
        </div>
    </div>

    @Body
</div>