<div class="ps-3 custom-nav">
    <div style="width: 185px; margin-right: 24px;">
        <a class="navbar-brand logo" href="">Fishin' Weber</a>
    </div>
    <p class="nav-items">Articles</p>
    <p class="nav-items">Pictures</p>
    <p class="nav-items">Resources</p>
</div>


@code {
    //private bool collapseNavMenu = true;

    //private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    //private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
    //}
}

