.custom-nav {
    display: flex;
    color: white;
    align-items: center;
    margin: 8px;
    border-bottom: 1px solid white;
}

.logo {
    font-family: SingleFlashing;
    font-size: 40px;
    color: white;
    border-right: 1px solid white;
    padding-right: 24px;
}

.nav-items {
    margin-top: 12px;
    padding: 16px 20px;
    margin-bottom: 0px;
    cursor: pointer;
}

.nav-items:hover {
    background-color: dimgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}